<div class="card text-dark bg-light mb-3">
    <div class="card-header">Listado de Examenes</div>
    <div class="card-body">
      <button class="btn btn-primary my-2" routerLink="/examenes/form">
        Crear
      </button>
      <div *ngIf="lista?.length == 0" class="alert alert-info">
        No hay exámenes en la Base de Datos
      </div>
      <table *ngIf="lista?.length > 0" class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Asignaturas</th>
            <th>Preguntas</th>
            <th>Creado en:</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examen of lista">
            <td>{{ examen.id }}</td>
            <td>{{ examen.nombre }}</td>
            <td>{{examen.asignaturaHija?.padre.nombre}} -> {{examen.asignaturaHija?.nombre}}</td>
            <td>{{examen.preguntas.length}}</td>
            <td>{{ examen.apellido }}</td>
            <td>{{ examen.createAt | date: "dd/MM/yyyy" }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                [routerLink]="['/examenes/form', examen.id]"
              >
                Editar
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminarExamen(examen)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="totalRegistros"
        [pageSize]="totalPorPagina"
        [pageIndex]="paginaActual"
        [pageSizeOptions]="pageSizeOptions"
        (page)="paginar($event)"
        showFirstLastButtons
        class="float-left mx-2"
      >
      </mat-paginator>
    </div>
  </div>
  