<div class="card text-dark bg-light mb-3">
  <div class="card-header">Listado de Alumnos</div>
  <div class="card-body">
    <button class="btn btn-primary my-2" routerLink="/cursos/form">
      Crear
    </button>
    <div *ngIf="lista?.length == 0" class="alert alert-info">
      No hay cursos en la Base de Datos
    </div>
    <table *ngIf="lista?.length > 0" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Alumnos</th>
          <th>Exámenes</th>
          <th>Creado en:</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of lista">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nombre }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              [routerLink]="['/cursos/asignar-alumnos', curso.id]"
            >
              Añadir {{ curso.alumnos.length }}
            </button>
          </td>
          <td>
            <button
              class="btn btn-info btn-sm"
              [routerLink]="['/cursos/asignar-examenes', curso.id]"
            >
              Añadir
            </button>
          </td>
          <td>{{ curso.apellido }}</td>
          <td>{{ curso.createAt | date: "dd/MM/yyyy" }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              [routerLink]="['/cursos/form', curso.id]"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              (click)="eliminarCurso(curso)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginar($event)"
      showFirstLastButtons
      class="float-left mx-2"
    >
    </mat-paginator>
  </div>
</div>
